name: Go

env:
  GOPRIVATE: "github.com/calyptia/cloud"

on:
  push:
    branches: [main]
    tags:
      - "v*"
  pull_request:
    branches: [main]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # Todo, fix dependencies to be fetched from github artifacts.
      - name: Dependencies
        run: sudo dpkg -i external/*.deb
      - name: Configure git for private modules
        run: git config --global url."https://${{ secrets.PAT_USERNAME}}:${{ secrets.PAT_TOKEN }}@github.com".insteadOf "https://github.com"
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Test
        run: go test -race ./...

  golangci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Configure git for private modules
        run: git config --global url."https://${{ secrets.PAT_USERNAME}}:${{ secrets.PAT_TOKEN }}@github.com".insteadOf "https://github.com"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest

  goreleaser:
    name: goreleaser
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # Todo, fix dependencies to be fetched from github artifacts.
      - name: Dependencies
        run: sudo dpkg -i external/*.deb
      - name: Configure git for private modules
        run: git config --global url."https://${{ secrets.PAT_USERNAME}}:${{ secrets.PAT_TOKEN }}@github.com".insteadOf "https://github.com"
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - uses: goreleaser/goreleaser-action@v2
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          version: latest
          args: release --rm-dist
          workdir: ./cmd/forwarder
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
